<p style="color: green"><%= notice %></p>
<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
  <% end %>
</div>
<div class="bg-green p-4 w-100 position-fixed bottom-0">
  <%= link_to "Add a new category", new_group_path, class: 'btn bg-green fw-bold col-12 text-uppercase' %>
</div>
